In [1]:
import pandas as pd

In [6]:
# loading data
train_data = pd.read_csv("../data/raw/sales_train.csv")
items = pd.read_csv("../data/raw/items.csv")
item_categories = pd.read_csv("../data/raw/item_categories.csv")
shops = pd.read_csv("../data/raw/shops.csv")
test_data = pd.read_csv("../data/raw/test.csv")

In [3]:
print("shape of train_data = {}".format(train_data.shape))
print("shape of items = {}".format(items.shape))
print("shape of item_categories = {}".format(item_categories.shape))
print("shape of shops = {}".format(shops.shape))

shape of train_data = (2935849, 6)
shape of items = (22170, 3)
shape of item_categories = (84, 2)
shape of shops = (60, 2)

In [53]:
item_categories.sample(1)

      item_category_name  item_category_id
6  Аксессуары - XBOX 360                 6

In [57]:
item_categorie_df = items.merge(item_categories, on='item_category_id', how='left') 
#train_data_with_categories = train_data.join(items['item_id', 'item_category_id', on="item_id")

In [62]:
items.columns

Index(['item_name', 'item_id', 'item_category_id'], dtype='object')

In [63]:
item_categories.columns

Index(['item_category_name', 'item_category_id'], dtype='object')

In [65]:
items.merge(item_categories, on='item_category_id', how='left').head()

,item_name,item_id,item_category_id,item_category_name
0,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,0,40,Кино - DVD
1,!ABBYY FineReader 12 Professional Edition Full...,1,76,Программы - Для дома и офиса (Цифра)
2,***В ЛУЧАХ СЛАВЫ (UNV) D,2,40,Кино - DVD
3,***ГОЛУБАЯ ВОЛНА (Univ) D,3,40,Кино - DVD
4,***КОРОБКА (СТЕКЛО) D,4,40,Кино - DVD

In [66]:
train_data.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0